body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    font-weight: bold;
    color: #333333;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"]
{
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
.back-button {
    background-color: #007BFF;
    color: #ffffff; /* Tilføj farve for at sikre, at teksten er hvid */
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: absolute; /* Gør placeringen absolut */
    top: 10px; /* Placer den 10px fra toppen */
    left: 10px; /* Placer den 10px fra venstre */
    text-decoration: none; /* Fjern understregning */
    display: inline-block;
}

.back-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}


