/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}

/* Header Styling */
h1 {
    text-align: center;
    font-size: 2.5em;
    color: #007BFF;
    margin-top: 20px;
}

/* Button Container Styling */
.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

/* Button Styling for Share and Create Buttons */
.button-container .button {
    padding: 12px 28px;
    background-color: #007BFF;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    cursor: pointer;
}

.button-container .button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

/* List Container */
ul {
    list-style-type: none;
    padding: 0;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* List Items Styling */
li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    flex: 1 1 calc(25% - 30px); /* Fire kolonner med mellemrumshåndtering */
    box-sizing: border-box;
}
/* Hover Effekt for Wish Items */
li:hover {
    transform: translateY(-3px); /* Løfter boksen lidt op */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Gør skyggen mere fremtrædende */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Overgangseffekt */
    cursor: pointer; /* Ændrer musemarkøren til pegepilen */
}


/* Delete Button Styling */
.delete-button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #ff1a1a;
    transform: translateY(-3px);
}
.back-button{
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: absolute; /* Gør placeringen absolut */
    top: 10px; /* Placer den 10px fra toppen */
    left: 10px; /* Placer den 10px fra venstre */
    text-decoration: none; /* Fjern understregning */
    display: inline-block;
    margin-top: 10px;
}
.back-button:hover {
    background-color: #007BFF;
    transform: translateY(-3px);
}
