<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ØnskeSkyen Login</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
<form action="/createuser" method="post">
  <h1>Login her!</h1>
  <div>
    <label for="brugernavn">Brugernavn</label>
    <input type="text" id="brugernavn" name="brugernavn" required>
    <br>
    <label for="adgangskode">Password</label>
    <input type="password" id="adgangskode" name="adgangskode" required>
    <br>
    <button type="submit">Log ind</button>
  </div>
</form>
</body>
</html>
