<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wishlist Items</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<h1>Items in Wishlist <span th:text="${listID}"></span></h1>
<ul>
    <li th:each="item : ${wishListItems}">
        <p>Name: <span th:text="${item.name}"></span></p>
        <p>Description: <span th:text="${item.description}"></span></p>
        <p>Price: <span th:text="${item.price}"></span></p>
        <p>Link: <a th:href="${item.link}" th:text="${item.link}"></a></p>
    </li>
</ul>
</body>
</html>
