<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wishlist Items</title>
    <link rel="stylesheet" th:href="@{/wishList.css}">
</head>
<body>
<a href="javascript:history.back()" class="back-button">Tilbage</a>

<h1>Ønskeliste <span th:text="${listID}"></span></h1>

<!-- Opret Ønske og Kopier Link (Øverst og centreret) -->
<div class="button-container">
    <a th:href="@{/createWishlistItem(listID=${listID})}" class="button">Opret Ønske</a>
    <button onclick="copyToClipboard()" class="button">Del Ønskelisten</button>
</div>

<ul>
    <li th:each="item : ${wishListItems}">
        <p>Navn: <span th:text="${item.name}"></span></p>
        <p>Beskrivelse: <span th:text="${item.description}"></span></p>
        <p>Pris: <span th:text="${item.price}"></span>,- DKK </p>
        <p>Link: <a th:href="${item.link}" th:text="${item.link}"></a></p>

        <!-- Slet-knap til hvert ønsket item -->
        <form th:action="@{/deleteWishItem}" method="post">
            <input type="hidden" name="wishitemID" th:value="${item.wishitemID}" />
            <input type="hidden" name="listID" th:value="${listID}" />
            <button type="submit" class="delete-button">Slet</button>
        </form>
    </li>
</ul>

<script>
    // Funktion til at kopiere linket til clipboard
    function copyToClipboard() {
        const link = window.location.href;
        navigator.clipboard.writeText(link)
            .then(() => {
                alert('Linket er kopieret til clipboard');
            })
            .catch(err => {
                alert('Kunne ikke kopiere link');
            });
    }
</script>
</body>
</html>
